.generate-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: url("/generate.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(-4%);
  z-index: 0;
}
