@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero::after,
.third-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: black;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(20, 16, 49, 1) 100%
  );
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(100, 100, 100, 1) 100%
  );
  border-radius: 50%;
  animation: blur 1s infinite alternate;
}
.first {
  top: 20%;
  left: 20%;
}
.second {
  right: 20%;
  bottom: 20%;
}
.third {
  top: 40%;
  right: 20%;
}
.fourth {
  top: 60%;
  left: 30%;
}
.fifth {
  top: 55%;
  left: 55%;
}
.sixth {
  top: 60%;
  left: 40%;
}
.seventh {
  top: 30%;
  left: 70%;
}
.eighth {
  top: 90%;
  left: 60%;
}

@keyframes blur {
  0% {
    transform: scale(1);
    filter: blur(0);
  }
  100% {
    transform: scale(1.1);
    filter: blur(3px);
  }
}

.second-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/second-section.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(33%);

  z-index: 0;
}

.second-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  background: url("/second-section-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(-33%, 40%);
  z-index: 0;
}

.third-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/third-section-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(33%);

  z-index: 0;
}

.third-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  background: url("/third-section-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(-33%, 40%);
  z-index: 0;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background: url("/services-shema.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateX(-28%);
  z-index: 20;
}

.fourth-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  background: url("/fourth-section-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(-33%, 40%);
  z-index: 0;
}

.auth-page{
  background-color: #141031;
}

.sign-in-card {
  background-color: #262150;
}

.auth-page > h4 {
  font-size: 24px;
}

.auth-main {
  background-image: url('../../public/images/auth-container-background.png');
  background-size: cover;
  min-height: 80vh;
}

.sign-in-card {
  padding-top: 10% !important;
  color:white
}

.sign-in-card > h1 {
  font-size: 24px;
  color: #F5E8C7;
}

.sign-in-card > p {
  color: #C8C8C8;
  font-size: 12px;
}

.sign-in-form input:not(.check-sign-in) {
  background-color: #262150;
  border-width: 0.5px;
  border-color: white;
  font-size: 16px;
  width: 18rem;
  outline: none;
}

.sign-in-form input:focus {
  border-color: #F5E8C7;
}

.sign-in-btn {
  background-color: #367AFF;
  font-size: 18px;
}

.check-sign-in {
  color: #C8C8C8;
  font-size: 12px;
}

.google-auth-sep > p {
  background-color: #262150;
  font-size: 14px;
  width: 25px;
}

.google-auth-btn {
  border-color: white;
  font-size: 16px;
  width: 18rem;
  margin-top: -30px !important;
  outline: none;
}

.sign-up-card {
  padding-top: 50px !important;
}